@mixin center {
    display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-col{
    @include center;
    flex-direction: column;
}

@mixin on-mobiles{
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        @content;
    }
}