@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:wght@300&family=Work+Sans:wght@400;600;700;800&display=swap');



root:{
    --col-primary:#0075b4;
    --col-bg:#f3f2ef;
    --col-on-bg:#fff;
    --col-border:rgb(140, 140, 140);
}

html,body{
    background:#f3f2ef;
    padding:0;
    margin:0;
    font-family:Ubuntu, Work Sans;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
h1{
    font-size:24px;
    font-weight:600;
    line-height:40px;
}
h2{
    font-size: 20px;
  line-height: 25px;
  font-weight:600;
}

h3{
    font-size: 16px;
  line-height: 24px;
  font-weight:600;
}

p{
    font-size: 14px;
  line-height: 20px;
  /* font-weight:600; */
}
a{
    font-size: 12px;
  line-height: 20px;
  font-weight:600;
}
.pbold{
    font-size: 14px;
    line-height: 20px;
    font-weight:600;  
}

.pmd{
    font-size: 16px;
    line-height: 20px;
    /* font-weight:600;   */
}

.plight{
    font-size: 12px;
    line-height: 16px;
    /* font-weight:600;   */
    color:rgba(0,0,0,0.6);
}

.alight{
    font-size: 12px;
    line-height: 12px;
    /* font-weight:600;   */
    color:rgba(0,0,0,0.6);
}

.ptiny{
    font-size:10px;
    line-height:12px;
    color:rgba(0,0,0,0.6);
}

//colors
.col-pri{
    color:var(--col-primary);
}

.col-bg{
    color:var(--col-bg);
}

.col-on-bg{
    color:var(--col-on-bg);
}

.col-border{
    color:var(--col-border);
}

//helpers
.center{
    display:flex;
    justifyContent:center;
    alignItems:center;
}

.justify-between{
    display:flex;
    justifyContent:space-between;
    alignItems:center;
}