@import '@/styles/_mixins.scss';

.container{
    margin: 24px 118px;
    display: grid;
    grid-template-columns: 265px auto;
    grid-gap: 24px;
    padding-top: 53px;
}

.first{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.second{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@include on-mobiles{
    .container{
        margin: 24px 16px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
        padding-top: 53px;
    }
}