.wrapper {
    position:relative;
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:8px;
    transform: translateY(-50%);
  }
  
  .input {
    
    /* box-sizing:border-box; */
  
    /* height: 36px; */
    /* width:'100%';
    border: none;
    border-radius: 5px;
    padding-left: 32px;
    margin: 8px 0px;
    background: #eef3f8; */
  }

