@import '@/styles/_mixins.scss';

.container{
    background: white;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
    flex-direction: column;
    border: 1px solid rgba(140, 140, 140,0.3);
  }
  
  .connGrid{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4,1fr);
  }

  
  @include on-mobiles{
    .connGrid{
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2,1fr);
      }

      .gridHeaderText{
        max-width:85%;
      }
}